.contact-form__content {
    margin: 0 auto;
    padding: 10px;
    max-width: 1512px;
}

.contact-form__heading {
    color: #8B7969;
    font-family: "Inika", serif;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
}

.form {
    color: #8B7969;
    margin: 0 auto;
    width: 70%;
    text-align: center;
}

.form__group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form__label--required {
    color: #ff0000;
    margin-left: 5px;
    padding: 4px 6px;
    border-radius: 3px;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.flex {
    display: flex;
    align-items: center;
    gap: 18px;
}

.form__input--text input[type="text"] {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    width: 287px;
    height: 38px;
}

.form__input--text input,
.form__input--select select,
.form__input--textarea textarea {
    padding: 10px;
    width: 600px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background: #F4F4F4;
    appearance: none;
}

.form__input--text input,
.form__input--select select {
    height: 40px;
}

.form__input--textarea textarea {
    padding: 10px;
    height: 129px;
    width: 618px;
}

.form__button {
    margin-top: 30px;
}

.form__button-submit {
    padding: 10px, 40px;
    width: 160px;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: #82756A;
    color: #fff;
    cursor: pointer;
}